@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  padding: 0px 20px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --index: calc(1vw + 1vh);
  --def-color: #526e3e;
  --primary-color: #fdfbed;
  --secondary-color: #fff;
  --thirty-color: #eddbbe;
}

.def-btn {
  max-width: 180px;
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--def-color);
  border-radius: 3px;
  padding: 8px 0;
  font-size: 13px;
  font-weight: 700;
  color: var(--def-color);
  display: block;
  transition: all 0.2s ease;
  cursor: pointer;
}
.def-btn:hover {
  filter: opacity(0.5);
}

@media screen and (max-width: 768px) {
  .def-btn {
    max-width: 120px;
    font-size: 10px;
    padding: 5px 0;
  }
}
.def-btn:hover {
  filter: contrast(15);
}

.header {
  width: 100%;
  padding: 30px 57px;
  background-color: var(--def-color);
}

.header__list {
  list-style: none;
  display: flex;
  -moz-column-gap: 35px;
       column-gap: 35px;
  color: var(--secondary-color);
}

.header__list-item {
  font-size: 16px;
  transition: 0.2s ease;
  cursor: pointer;
}

.header__list-item:hover {
  filter: opacity(0.6);
}

@media screen and (max-width: 768px) {
  .header {
    padding: 25px 0;
  }
  .header__list {
    justify-content: center;
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
  .header__list-item {
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  .header {
    padding: 20px 0;
  }
  .header__list {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .header__list-item {
    font-size: 10px;
  }
}
.face {
  height: 49vw;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
}

.face__content {
  padding-top: 18.5vw;
  text-align: center;
}

.face__title {
  max-width: 418px;
  margin: 0 auto 5vw auto;
}

.face__title-img {
  width: 30vw;
}

.face__subtitle {
  font-size: 4.2vw;
  font-weight: 700;
  color: var(--secondary-color);
  letter-spacing: 0;
}

@media screen and (max-width: 768px) {
  .face__title {
    margin: 0 auto 3.5vw auto;
  }
}
.product {
  padding: 80px 0;
}

.product__title {
  font-weight: 700;
  color: var(--def-color);
  text-align: center;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .product__title {
    font-size: calc(16px + 20.4 * (100vw - 320px) / 1400);
  }
}
@media (min-width: 767px) {
  .product__title {
    font-size: calc(16px + 12 * 100vw / 1400);
  }
}

.product__card-row {
  display: flex;
  -moz-column-gap: 19px;
       column-gap: 19px;
}

.product__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 325px;
  width: 100%;
}

.product__card-img img {
  border-radius: 10px;
  width: 100%;
}

.product__card-decs {
  font-weight: 700;
  line-height: 15px;
  color: var(--def-color);
  text-align: center;
  padding-bottom: 10px;
}
@media (max-width: 767px) {
  .product__card-decs {
    font-size: calc(8px + 10.2 * (100vw - 320px) / 1400);
  }
}
@media (min-width: 767px) {
  .product__card-decs {
    font-size: calc(8px + 6 * 100vw / 1400);
  }
}

.product__card-btn {
  width: 100%;
  padding: 0.72vw 0;
  border: none;
  background-color: var(--primary-color);
  color: var(--def-color);
  font-weight: 700;
  transition: 0.2s ease;
  cursor: pointer;
}
@media (max-width: 767px) {
  .product__card-btn {
    font-size: calc(8px + 10.2 * (100vw - 320px) / 1400);
  }
}
@media (min-width: 767px) {
  .product__card-btn {
    font-size: calc(8px + 6 * 100vw / 1400);
  }
}

.product__card-btn:hover {
  color: #779c5e;
}

.product__btn {
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 992px) {
  .product {
    padding: 50px 0;
  }
  .product__title {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .product {
    padding: 40px 0;
  }
  .product__title {
    margin-bottom: 20px;
  }
  .product__btn {
    margin-top: 35px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 600px) {
  .product__title {
    margin-bottom: 20px;
  }
  .product__card-row {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
  }
  .product__card {
    width: 40%;
  }
}
.banner {
  height: 49vw;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  padding-top: 18vw;
}

.banner__title {
  color: var(--primary-color);
  font-weight: 400;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .banner__title {
    font-size: calc(18px + 105.4 * (100vw - 320px) / 1400);
  }
}
@media (min-width: 767px) {
  .banner__title {
    font-size: calc(18px + 62 * 100vw / 1400);
  }
}

.compound {
  padding: 80px 0;
}

.compound__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.compound__row {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.compound__pictures {
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.compound__text-content-1 {
  max-width: 396px;
  padding: 40px 0 0 0;
  margin: 0 auto;
}

.compound__text-content {
  max-width: 396px;
  padding: 140px 0 0 0;
  margin: 0 auto;
}

.compound__img-1, .compound__img-2,
.compound__img-3 {
  margin-bottom: 48px;
}

.compound__title {
  color: var(--def-color);
  font-weight: 700;
  line-height: 39.9px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .compound__title {
    font-size: calc(18px + 20.4 * (100vw - 320px) / 1400);
  }
}
@media (min-width: 767px) {
  .compound__title {
    font-size: calc(18px + 12 * 100vw / 1400);
  }
}

.compound__desc {
  color: var(--def-color);
  font-weight: 400;
  line-height: 24.31px;
  margin-bottom: 23px;
}
@media (max-width: 767px) {
  .compound__desc {
    font-size: calc(12px + 10.2 * (100vw - 320px) / 1400);
  }
}
@media (min-width: 767px) {
  .compound__desc {
    font-size: calc(12px + 6 * 100vw / 1400);
  }
}

@media screen and (max-width: 1400px) {
  .compound__text-content {
    padding: 80px 0;
  }
}
@media screen and (max-width: 1320px) {
  .compound__img-1, .compound__img-2,
  .compound__img-3 {
    margin-bottom: 20px;
  }
  .compound__title {
    margin-bottom: 20px;
  }
  .compound__desc {
    margin-bottom: 18px;
  }
}
@media screen and (max-width: 1024px) {
  .compound {
    padding: 40px 0;
  }
  .compound__wrapper {
    row-gap: 30px;
  }
  .compound__row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }
  .compound__row--reverse {
    flex-direction: column-reverse;
  }
  .compound__pictures {
    width: 60%;
  }
  .compound__text-content-1,
  .compound__text-content {
    text-align: center;
    max-width: 450px;
    padding: 40px 0 0 0;
  }
  .compound__img-1, .compound__img-2,
  .compound__img-3 {
    margin-bottom: 20px;
  }
  .compound__img-1 {
    width: 18px;
  }
  .compound__img-2 {
    width: 32px;
  }
  .compound__img-3 {
    width: 34px;
  }
  .compound__title {
    margin-bottom: 15px;
  }
  .compound__desc {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .compound__text-content-1,
  .compound__text-content {
    max-width: 350px;
  }
  .compound__pictures {
    width: 80%;
  }
}
@media screen and (max-width: 425px) {
  .compound__text-content-1,
  .compound__text-content {
    max-width: 260px;
  }
  .compound__pictures {
    width: 100%;
  }
}
.support {
  padding-bottom: 80px;
}

.support__title {
  color: var(--def-color);
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin-bottom: 58px;
}
@media (max-width: 767px) {
  .support__title {
    font-size: calc(20px + 13.6 * (100vw - 320px) / 1400);
  }
}
@media (min-width: 767px) {
  .support__title {
    font-size: calc(20px + 8 * 100vw / 1400);
  }
}

.support__row {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.support__item {
  max-width: 115px;
  width: 100%;
}

.support__icon {
  width: 57px;
  display: block;
  margin: 0 auto 22px auto;
}

.support__desc {
  color: var(--def-color);
  font-weight: 400;
  line-height: 16.8px;
  text-align: center;
  max-width: 74px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .support__desc {
    font-size: calc(6px + 13.6 * (100vw - 320px) / 1400);
  }
}
@media (min-width: 767px) {
  .support__desc {
    font-size: calc(6px + 8 * 100vw / 1400);
  }
}

@media screen and (max-width: 992px) {
  .support {
    padding: 40px 0 80px 0;
  }
  .support__icon {
    width: 45px;
    display: block;
    margin: 0 auto 22px auto;
  }
  .support__title {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  .support {
    padding: 0 0 40px 0;
  }
  .support__icon {
    width: 35px;
    display: block;
    margin: 0 auto 22px auto;
  }
  .support__title {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 500px) {
  .support {
    padding: 0 0 40px 0;
  }
  .support__icon {
    width: 25px;
    display: block;
    margin: 0 auto 12px auto;
  }
  .support__title {
    margin-bottom: 20px;
  }
  .support__desc {
    line-height: 10px;
  }
}
@media screen and (max-width: 375px) {
  .support__icon {
    width: 20px;
    display: block;
    margin: 0 auto 5px auto;
  }
  .support__title {
    margin-bottom: 20px;
  }
  .support__desc {
    line-height: 10px;
  }
}
.girls {
  height: 55vw;
  position: relative;
  padding-top: 10vw;
  background-color: var(--thirty-color);
  background-image: url("./../../assets/girls/girly.png");
  background-repeat: no-repeat;
  background-position: 37vw center;
  background-size: 53.3vw;
}

.girls__content {
  max-width: 50vw;
  margin-left: 5vw;
}

.girls__desc {
  z-index: 5;
}

.girls__text {
  color: var(--def-color);
  font-weight: 700;
  margin-bottom: 10vw;
}
@media (max-width: 767px) {
  .girls__text {
    font-size: calc(24px + 112.2 * (100vw - 320px) / 1400);
  }
}
@media (min-width: 767px) {
  .girls__text {
    font-size: calc(24px + 66 * 100vw / 1400);
  }
}

@media screen and (max-width: 600px) {
  .girls__btn {
    max-width: 100px;
    font-size: 9px;
  }
}
@media screen and (max-width: 425px) {
  .girls__btn {
    max-width: 80px;
    font-size: 8px;
  }
}
.reviews {
  padding: 130px 0;
}

.reviews__row {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 130px;
       column-gap: 130px;
}

.reviews__item {
  max-width: 282px;
  text-align: center;
}

.reviews__rating {
  width: 100%;
}

.reviews__name-date {
  font-weight: 400;
  line-height: 17.94px;
  padding: 20px 0;
  display: block;
}
@media (max-width: 767px) {
  .reviews__name-date {
    font-size: calc(8px + 10.2 * (100vw - 320px) / 1400);
  }
}
@media (min-width: 767px) {
  .reviews__name-date {
    font-size: calc(8px + 6 * 100vw / 1400);
  }
}

.reviews__comment {
  font-weight: 400;
  line-height: 17.94px;
}
@media (max-width: 767px) {
  .reviews__comment {
    font-size: calc(8px + 10.2 * (100vw - 320px) / 1400);
  }
}
@media (min-width: 767px) {
  .reviews__comment {
    font-size: calc(8px + 6 * 100vw / 1400);
  }
}

@media screen and (max-width: 1200px) {
  .reviews {
    padding: 100px 0;
  }
  .reviews__row {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
@media screen and (max-width: 992px) {
  .reviews {
    padding: 60px 0;
  }
  .reviews__item {
    max-width: 235px;
  }
  .reviews__name-date {
    padding: 0 0 10px 0;
  }
}
@media screen and (max-width: 768px) {
  .reviews__row {
    flex-direction: column;
    row-gap: 30px;
  }
}
.gallery__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.gallery__col {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
}

.gallery__small-img {
  max-width: 50%;
}

.gallery__big-img {
  max-width: 100%;
}

.gallery__text {
  position: absolute;
  font-weight: 700;
  color: var(--secondary-color);
  line-height: 44px;
  letter-spacing: 0%;
}
@media (max-width: 767px) {
  .gallery__text {
    font-size: calc(12px + 44.2 * (100vw - 320px) / 1400);
  }
}
@media (min-width: 767px) {
  .gallery__text {
    font-size: calc(12px + 26 * 100vw / 1400);
  }
}

.footer {
  background-color: var(--def-color);
  padding: 60px 0;
}

.footer__row {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 68px;
       column-gap: 68px;
  color: var(--thirty-color);
}

.footer__col {
  display: flex;
  align-items: center;
  -moz-column-gap: 68px;
       column-gap: 68px;
}

.footer__col:nth-child(2) {
  height: 100px;
}

.copyright {
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0.2px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .copyright {
    font-size: calc(10px + 6.8 * (100vw - 320px) / 1400);
  }
}
@media (min-width: 767px) {
  .copyright {
    font-size: calc(10px + 4 * 100vw / 1400);
  }
}

.footer__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  list-style: none;
}

.footer__list-item {
  line-height: 20px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  transition: 0.2s ease;
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .footer__list-item {
    font-size: calc(11px + 5.1 * (100vw - 320px) / 1400);
  }
}
@media (min-width: 767px) {
  .footer__list-item {
    font-size: calc(11px + 3 * 100vw / 1400);
  }
}

.footer__list-item:hover {
  filter: opacity(0.6);
}

.footer__socials {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  transition: 0.2s ease;
}

.facebook {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.instagram {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.facebook:hover, .instagram:hover {
  filter: opacity(0.6);
}

.footer__search {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}

.footer__search-input {
  max-width: 242px;
  color: var(--thirty-color);
  border: 1px solid var(--thirty-color);
  border-radius: 2px;
  background-color: transparent;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  padding: 10px 13px;
}
@media (max-width: 767px) {
  .footer__search-input {
    font-size: calc(8px + 6.8 * (100vw - 320px) / 1400);
  }
}
@media (min-width: 767px) {
  .footer__search-input {
    font-size: calc(8px + 4 * 100vw / 1400);
  }
}

.footer__search-input::-moz-placeholder {
  color: var(--thirty-color);
}

.footer__search-input::placeholder {
  color: var(--thirty-color);
}

.footer__search-button {
  color: var(--def-color);
  background-color: var(--thirty-color);
  border: none;
  border-radius: 2px;
  padding: 10px 10px;
  cursor: pointer;
  transition: 0.2s ease;
}
@media (max-width: 767px) {
  .footer__search-button {
    font-size: calc(10px + 6.8 * (100vw - 320px) / 1400);
  }
}
@media (min-width: 767px) {
  .footer__search-button {
    font-size: calc(10px + 4 * 100vw / 1400);
  }
}

.footer__search-button:hover {
  filter: opacity(0.6);
}

.fa-magnifying-glass {
  color: var(--def-color);
}

@media screen and (max-width: 1300px) {
  .footer__row,
  .footer__col {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  .footer__list {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .footer__search-button {
    padding: 10px 10px;
  }
}
@media screen and (max-width: 1100px) {
  .footer__row {
    align-items: baseline;
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
  .footer__col {
    flex-direction: column-reverse;
    align-items: start;
    row-gap: 40px;
  }
}
@media screen and (max-width: 768px) {
  .footer__row {
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
  .footer__list {
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
  }
}/*# sourceMappingURL=main.css.map */